body {
    background-color: rgb(22, 22, 22);
    font-family: 'Ubuntu', sans-serif;
}

.bg-black-transparent{
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-link-white{
    color: #FFFFFF !important;
    font-weight: 600;
}

.nav-link-white:hover{
    color: #FBAD1C !important;
    font-weight: 600;
}

.link-white{
    color: #FFFFFF !important;
}

.link-white:hover{
    color: #FBAD1C !important;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    padding-left: 10px;
    padding-top: 5px;
}

.bg-black{
    background-color: #000000;
}

.standard-link {
    text-decoration: none;
}

.standard-link:hover {
    color: #FBAD1C !important;
}

.standard-link:active {
    color: #FBAD1C !important;
}

.nav-active {
    color: #FBAD1C !important;
}

.head-background {
    background-image: url("/images/back-ide.png");
    height: 70vh;
}

.search {
    width: 40%;
}

@media only screen and (max-width: 767px) {
    .search {
        width: 100%;
    }
}

.sub-title {
    font-weight: 400;
}
