.card-header{
    color: white;
    background-color: #343434;
}

.card-body{
    color: white;
    background-color: #1E1E1E;
}

.btn-yellow{
    color: #000000;
    background-color: #FBAD1C;
}

.txt-yellow{
    color: #FBAD1C;
}

.bg-black-transparent{
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-link-white{
    color: #FFFFFF !important;
    font-weight: 600;
}

.nav-link-white:hover{
    color: #FBAD1C !important;
    font-weight: 600;
}
